*, *:after, *:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}
li {
    list-style-type: none;
}

body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-size: 16px;
    background-color: #727272;
}


.wrapper {
    position: relative;
    width: 1440px;
    height: 8272px;
    margin: 0 auto;
    background-color: blue;
}


.header {
    width: 1440px;
    height: 820px;

    margin: 0 auto;
    padding-top: 100px;

    background-color: aqua;
}


.header__title__container {
    width: 1440px;
    height: 160px;

    padding-left: 180px;
    padding-right: 180px;

    background-color: #4D7198;
}
.header__title__body {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 1080px;
    height: 50px;

    background-color: khaki;
}
.header__title__body__social__icons {
    display: flex;
    align-content: center;
    justify-content: space-between;

    width: 100px;

    background-color: greenyellow;
}
.header__main-block__container {
    width: 1440px;
    height: 315px;

    margin-top: 80px;

    padding-left: 180px;
    padding-right: 180px;

    background-color: greenyellow;
}
.header__main-block__body {
    display: flex;
    justify-content: space-between;

    width: 1080px;
    height: 315px;

    padding-right: 90px;

    background-color: burlywood;
}
.header__main-block__body__title {
    height: 70px;

    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 60px;
}
.header__main-block__body__title::after {
    content: "";
    display: block;
    width: 495px;
    padding-top: 7px;
    border-bottom: 2px solid #FA5D7C;
}
.header__main-block__body__slogan {
    height: 100px;

    margin-top: 15px;

    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 39px;
}
.header__main-block__body__button {
    margin-top: 65px;
}
.header__main-block__body__button button {
    width: 385px;
    height: 60px;

    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    text-align: center;

    color: #FFFFFF;
    background: #FA5D7C;
}
.header__down__keyboard {
    width: 1440px;
    height: 60px;

    margin-top: 85px;

    text-align: center;

    background-color: darkolivegreen;
}


.page {
    position: relative;
    margin: 0 auto;
    width: 1440px;
    height: 7238px;
    background-color: darkcyan;
}


.page__services__container {
    position: relative;
    width: 1440px;
    height: 2660px;
}
.page__services__body {
    width: 1440px;
    height: 2660px;
}
.page__services__body__title {
    width: 1440px;
    height: 204px;

    padding: 76px 520px 77px 519px ;

    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 42px;
    line-height: 50px;
    text-align: center;

    background-color: #6D6D6D;
}

.page__services__item__container {
    display: flex;
    align-content: flex-start;

    width: 1440px;
    height: 616px;

    background-color: #4D7198;
}
.page__services__item__body {
    width: 540px;
    height: 400px;

    margin-top: 150px;

    z-index: 2;

    background-color: burlywood;
}
.page__services__item__title {
    width: 540px;
    height: 55px;

    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 43px;

    background-color: darkolivegreen;
}
.page__services__item__text {
    width: 540px;
    height: 130px;

    margin-top: 20px;

    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 31px;

    background-color: darkturquoise;
}
.page__services__item__button {
    width: 245px;
    height: 55px;

    margin-top: 30px;

    background-color: gold;
}
.page__services__item__button button {
    width: 245px;
    height: 55px;

    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;

    color: #FFFFFF;
    background-color: #FA5D7C;
}
.page__services__item__subtext {
    width: 540px;
    height: 100px;

    margin-top: 60px;

    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 23px;

    color: #727272;

    background-color: crimson;
}
.page__services__item__image {
    width: 900px;
    height: 616px;

    z-index: 1;
}
.page__services__item__image img {
    width: 900px;
    height: 616px;
}

.what-we-do__body {
    padding-left: 185px;
}
.what-we-do__title {
    text-align: left;
}
.what-we-do__title::after {
    /*
    content: "";
    display: block;
    width: 210px;
    padding-top: 7px;
    border-bottom: 2px solid #FA5D7C;
    */
}
.what-we-do__text {
    text-align: left;
}
.what-we-do__button {
    margin-right: auto;
}
.what-we-do__subtext {
    height: 45px;
    text-align: left;
}

.corporate-websites__body {
    order: 1;
    margin-left: -135px;
}
.corporate-websites__title {
    text-align: right;
}
.corporate-websites__title::after {
    /*
    content: "";
    display: block;
    text-align: right;
    width: 200px;
    padding-top: 7px;
    border-bottom: 2px solid #FA5D7C;
    */
}
.corporate-websites__text {
    text-align: right;
}
.corporate-websites__button {
    margin-left: auto;
}
.corporate-websites__subtext {
    height: 45px;
    text-align: right;
}

.social-media-promotion__body {
    padding-left: 185px;
}
.social-media-promotion__title {
    width: 550px;
    text-align: left;
}
.social-media-promotion__title::after {
    /*
    content: "";
    display: block;
    width: 495px;
    padding-top: 7px;
    border-bottom: 2px solid #FA5D7C;
    */
}
.social-media-promotion__text {
    text-align: left;
}
.social-media-promotion__button {
    margin-right: auto;
}
.social-media-promotion__subtext {
    height: 45px;
    text-align: left;
}

.services-complex-projects__body {
    order: 1;
    margin-left: -120px;
}
.services-complex-projects__title {
    width: 540px;
    text-align: right;
}
.services-complex-projects__title::after {
    /*
    content: "";
    display: block;
    width: 495px;
    padding-top: 7px;
    border-bottom: 2px solid #FA5D7C;
    */
}
.services-complex-projects__text {
    text-align: right;
}
.services-complex-projects__button {
    margin-left: auto;
}
.services-complex-projects__subtext {
    height: 45px;
    text-align: right;
}


.codex__container {
    width: 1440px;
    height: 727px;

    background-color: honeydew;
}
.codex__body {
    width: 1440px;
    height: 727px;
}
.codex__title {
    width: 1440px;
    height: 160px;

    padding: 80px 648px 30px 646px;

    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 42px;
    line-height: 50px;
    background-color: darkkhaki;
}
.codex__slogan {
    width: 1440px;
    height: 230px;

    padding-left: 325px;
    padding-right: 321px;

    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;

    color: #000000;
    background-color: cadetblue;
}
.codex__points__body {
    display: flex;
    align-items: flex-start;

    width: 1440px;
    height: 337px;

    background-color: khaki;
}
.codex__previous__point {
    width: 585px;
    height: 200px;

    margin-top: 70px;
    margin-right: 55px;
    margin-left: -390px;
    padding: 45px 80px 75px 80px;

    background-color: rosybrown;
}
.codex__previous__point__text {
    width: 435px;
    height: 100px;

    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 35px;
    text-align: center;

    background-color: yellow;
}
.codex__previous__point__paragraph {
    margin-top: 30px;

    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;

    color: #6D6D6D;
}

.codex__left__keyboard {
    margin-top: 155px;
}

.codex__point {
    width: 800px;
    height: 250px;

    margin: 45px 55px 40px 55px;
    padding: 55px 75px 100px 75px;

    background-color: yellowgreen;
}
.codex__point__text {
    width: 650px;
    height: 130px;

    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 300;
    font-size: 33px;
    line-height: 48px;
    text-align: center;

    background-color: #4D7198;
}
.codex__point__paragraph {
    width: 650px;
    height: 20px;

    margin-top: 25px;

    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;

    color: #6D6D6D;
}

.codex__right__keyboard {
    margin-top: 155px;
}

.codex__next__point {
    width: 585px;
    height: 200px;

    margin-top: 70px;
    margin-left: 40px;
    padding: 45px 80px 75px 80px;

    background-color: rosybrown;
}
.codex__next__point__text {
    width: 435px;
    height: 100px;

    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 35px;
    text-align: center;

    background-color: yellow;
}
.codex__next__point__paragraph {
    margin-top: 30px;

    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;

    color: #6D6D6D;
}


.portfolio__container {
    width: 1440px;
    height: 1160px;

    background-color: green;
}
.portfolio__body {
    width: 1440px;
    height: 1160px;
}
.portfolio__title {
    width: 1440px;
    height: 175px;
    padding: 95px 600px 25px 600px;

    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 42px;
    line-height: 50px;

    background-color: crimson;
}
.portfolio__slogan {
    width: 1440px;
    height: 150px;

    padding-left: 320px;
    padding-right: 320px;

    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;

    background-color: chartreuse;
}
.portfolio__case {
    display: flex;

    width: 1440px;
    height: 290px;

    padding-left: 210px;
    padding-right: 210px;

    background-color: blueviolet;
}
.portfolio__case__img {
    width: 380px;
    height: 290px;
}
.portfolio__case__text-content__xim4 {
    width: 580px;
    height: 290px;

    margin-left: 60px;

    background-color: darkgoldenrod;
}
.portfolio__case__text-content__level {
    width: 580px;
    height: 290px;

    margin-right: 60px;

    background-color: cornflowerblue;
}
.portfolio__case__title {
    width: 580px;
    height: 40px;

    margin-top: 55px;

    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 43px;

    background-color: darkslategray;
}
.portfolio__case__subtitle {
    width: 580px;
    height: 16px;

    margin-top: 7px;

    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    font-variant: small-caps;

    color: #FA5D7C;
    background-color: yellow;
}
.portfolio__case__subtitle::after {
    content: "";
    display: block;
    width: 120px;
    padding-top: 7px;
    border-bottom: 2px solid #FA5D7C;
}
.portfolio__case__text {
    width: 580px;
    height: 75px;

    margin-top: 21px;

    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 27px;

    background-color: burlywood;
}
.portfolio__case__watch__keys__button {
    width: 414px;
    height: 57px;

    margin-top: 45px;
    margin-left: 77px;
}
.portfolio__case__watch__keys__button button {
    width: 414px;
    height: 57px;

    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;

    color: #FFFFFF;
    background-color: #FA5D7C;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
}
.portfolio__button {
    padding: 120px 590px 90px;
}
.portfolio__button button {
    width: 245px;
    height: 55px;

    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;

    text-align: center;

    color: #FA5D7C;

    background: #FFFFFF;
    border: 2px solid #FA5D7C;
}

.level__case {
    flex-direction: row-reverse;

    margin-top: 45px;

    background-color: gold;
}
.xim4__case {
     background-color: bisque;
 }


.tools__container {
    width: 1440px;
    height: 437px;
}
.tools__body {
    width: 1440px;
    height: 437px;

    background-color: greenyellow;
}
.tools__title {
    width: 1440px;
    height: 120px;

    padding: 65px 600px 30px;

    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 42px;
    line-height: 50px;

    display: flex;
    align-items: center;
    text-align: center;

    background-color: #6D6D6D;
}
.tools__slogan {
    width: 1440px;
    height: 110px;

    padding-top: 30px;
    padding-left: 320px;
    padding-right: 320px;

    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;

    background-color: khaki;
}
.framework {
    display: flex;
    width: 1440px;
    height: 140px;

    padding-left: 245px;
    padding-right: 245px;

    background-color: bisque;
}
.framework__left__img {
    margin-top: 50px;
}
.framework__img {
    width: 200px;
    height: 135px;

    margin-left: 80px;
}
.framework__img img {
    width: 200px;
    height: 135px;
}
.framework__text-content {
    margin-left: 55px;
}
.framework__title {
    width: 525px;
    height: 45px;

    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 41px;
}
.framework__title::after {
    content: "";
    display: block;
    width: 285px;
    padding-top: 7px;
    border-bottom: 2px solid #FA5D7C;
}
.framework__text {
    width: 525px;
    height: 70px;

    margin-top: 15px;

    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
}
.framework__right__img {
    margin-top: 50px;
    margin-left: 60px;
}


.team__container {
    width: 1440px;
    height: 1468px;
}
.team__body {
    width: 1440px;
    height: 1468px;

    background-color: gold;
}
.team__title {
    width: 1440px;
    height: 150px;

    padding: 74px 631px 25px;

    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 42px;
    line-height: 50px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    background-color: khaki;
}
.team__slogan {
    width: 1440px;
    height: 130px;

    padding-left: 322px;
    padding-right: 321px;

    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;

    background-color: cornflowerblue;
}
.team__enum__container {
    width: 1440px;
    height: 1131px;

    padding-left: 322px;
    padding-right: 321px;

    background-color: grey;
}
.team__enum {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.team__item {
    width: 244px;
    height: 357px;

    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
}
.team__item__image {
    width: 244px;
    height: 179px;
}
.team__item__image img {
    border-radius: 0 0 100px 100px;
}
.team__item__fio {
    width: 240px;
    height: 31px;

    margin-top: 25px;

    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    align-items: center;
    text-align: center;
}
.team__item__fio::after {
    content: "";
    display: block;
    width: 200px;
    padding-top: 1px;
    border-bottom: 2px solid #FA5D7C;
    margin: 0 auto;
}
.team__item__position {
    width: 195px;
    height: 40px;

    margin-top: 4px;
    margin-left: 24px;
    margin-right: 25px;

    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    align-items: center;
    text-align: center;
    font-variant: small-caps;

    color: #FA5D7C;

    background-color: green;
}
.team__item__contacts__container {
    width: 244px;
    height: 25px;

    padding-left: 48px;
    padding-right: 47px;

    margin-top: 25px;
}
.team__item__contacts {
    display: flex;
    justify-content: space-between;

}
.team__item__contact {

}
.team__item__vk {
    width: 30px;
    height: 17px;
}
.team__item__tg {
    width: 24px;
    height: 21px;
}
.team__item__mail {
    width: 23px;
    height: 17px;
}
.team__item__contact img {

}


.contacts__container {
    width: 1440px;
    height: 778px;
}
.contacts__body {
    width: 1440px;
    height: 778px;
}
.contacts__title {
     width: 1440px;
     height: 180px;

     padding: 75px 620px 50px;

     font-family: Lato;
     font-style: normal;
     font-weight: 900;
     font-size: 42px;
     line-height: 50px;

    background-color: #6D6D6D;
 }
.contacts__content__body {
    width: 1440px;
    height: 606px;

    background-color: coral;
}
.contacts__input__body {
    width: 800px;
    height: 500px;

    margin-left: 320px;
    margin-right: 320px;

    padding-left: 115px;
    padding-right: 115px;
    padding-top: 40px;
    /*
    background: #FFFFFF;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
    */
    background-color: greenyellow;
}
.contacts__slogan {
    height: 50px;

    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    background-color: rosybrown;
}
.contacts__entry__field {
    width: 510px;
}
.contacts__input__name {
    display: flex;

    width: 560px;
    height: 50px;

    margin-top: 35px;
}
.contacts__input__name__image {
    width: 50px;
    height: 50px;

    line-height: 50px;
    text-align: center;

    background: #FA5D7C;
}
.input__image img {
    width: 19px;
    height: 21px;
}
.contacts__input__email {
    display: flex;

    width: 560px;
    height: 50px;

    margin-top: 20px;
}
.contacts__input__email__image {
    width: 50px;
    height: 50px;

    line-height: 50px;
    text-align: center;

    background: #FA5D7C;
}
.contacts__input__email__image img {
    width: 19px;
    height: 19px;
}
.contacts__input__message {
    display: flex;

    width: 560px;
    height: 170px;

    margin-top: 20px;
}
.contacts__input__message__image {
    width: 51px;
    height: 170px;

    line-height: 170px;
    text-align: center;

    background: #FA5D7C;
}
.contacts__input__message__image img {
    width: 20px;
    height: 19px;
}
.contacts__input__footer{
    display: flex;
    justify-content: space-between;

    height: 55px;

    margin-top: 40px;
}
.contacts__input__footer__social-networks {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
}
.contacts__input__footer__vk {
    width: 59px;
    height: 59px;

    line-height: 59px;
    text-align: center;
    border-radius: 100px;

    background: #4D7198;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
}
.contacts__input__footer__vk img {
    width: 32px;
    height: 18px;
}
.contacts__input__footer__mail {
    width: 59px;
    height: 59px;

    line-height: 59px;
    text-align: center;
    border-radius: 100px;

    background: #B2E0FF;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
}
.contacts__input__footer__mail img {
    width: 31px;
    height: 22px;
}
.contacts__input__footer__send__button {

}
.contacts__input__footer__send__button button {

}

.footer {
    width: 1440px;
    height: 216px;

    background-color: #000000;
}