*, *:after, *:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}


body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-size: 16px;
    background-color: #727272;
}


.wrapper {
    position: relative;
    width: 1440px;
    height: 8272px;
    margin: 0 auto;
    background-color: blue;
}


.header {
    position: relative;
    margin: 0 auto;
    padding: 105px 182px 182px;
    width: 1440px;
    height: 820px;
    background-color: aqua;
}


.header__title__container {
    width: 1076px;
    height: 155px;
}
.header__title {
     display: flex;
     width: 1076px;
     height: 155px;
     align-items: flex-start;
     justify-content: space-between;
 }
.header__main-block__container {
    margin-top: 80px;
    width: 990px;
    height: 310px;
}
.header__main-block {
    display: flex;
    width: 990px;
    height: 315px;
    align-items: flex-start;
}
.main__block__container {
    width: 675px;
    height: 310px;
}
.main-block__title {
    width: 665px;
    height: 70px;
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 60px;
}
.main-block__text {
    width: 670px;
    height: 100px;
    margin-top: 20px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 39px;
}
.main-block__button {
    width: 385px;
    height: 57px;
    margin-top: 65px;
}
.main-block__button button {
    width: 385px;
    height: 57px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    background-color: #FA5D7C;
}
.main-block__hero {
    width: 200px;
    height: 200px;
    margin-left: 110px;
}
.header__down {
    width: 25px;
    height: 20px;
    margin-left: 528px;
    margin-top: 80px;
    margin-right: 528px;
}


.page {
    position: relative;
    margin: 0 auto;
    width: 1440px;
    height: 7238px;
    background-color: darkcyan;
}


.page__services {
    width: 1440px;
    height: 2668px;
    background-color: lightcyan;
}
.services__container {
    position: relative;
    width: 1440px;
    height: 2660px;
}
.services__body {
    position: relative;
    width: 1440px;
    height: 2660px;
}
.services__body__title {
    width: 1440px;
    height: 204px;
    padding: 76px 520px 77px 519px ;
}
.services__body__title h2 {
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 42px;
    line-height: 50px;
    text-align: center;
}

.services__item__container {
    display: flex;
    width: 1440px;
    height: 616px;
    align-items: flex-start;
}
.services__item__body {
    width: 540px;
    height: 400px;
    margin-top: 151px;
    margin-bottom: 98px;
    z-index: 2;
}
.services__item__title {
    width: 540px;
    height: 45px;
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 43px;
}
.services__item__text {
    width: 540px;
    height: 93px;
    margin-top: 32px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 31px;
}
.services__item__button {
    width: 246px;
    height: 57px;
    margin-top: 33px;
}
.services__item__button button {
    width: 246px;
    height: 57px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    background-color: #FA5D7C;
}
.services__item__subtext {
    width: 540px;
    height: 98px;
    margin-top: 64px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 23px;
    color: #727272;
}
.services__item__image {
    width: 900px;
    height: 616px;
    z-index: 1;
}
.services__item__image img {
    width: 900px;
    height: 616px;
}

.what-we-do__body {
    padding-left: 185px;
}
.what-we-do__title {
    width: 540px;
    text-align: left;
}
.what-we-do__text {
    height: 100px;
    text-align: left;
}
.what-we-do__button {
    margin-right: auto;
}
.what-we-do__subtext {
    height: 45px;
    text-align: left;
}

.corporate-websites__body {
    order: 1;
    margin-left: -135px;
}
.corporate-websites__title {
    text-align: right;
}
.corporate-websites__text {
    height: 115px;
    text-align: right;
}
.corporate-websites__button {
    margin-left: auto;
}
.corporate-websites__subtext {
    height: 45px;
    text-align: right;
}

.social-media-promotion__body {
    padding-left: 185px;
}
.social-media-promotion__title {
    width: 550px;
    text-align: left;
}
.social-media-promotion__text {
    height: 120px;
    text-align: left;
}
.social-media-promotion__button {
    margin-right: auto;
}
.social-media-promotion__subtext {
    height: 45px;
    text-align: left;
}

.services-complex-projects__body {
    order: 1;
    margin-left: -120px;
}
.services-complex-projects__title {
    width: 540px;
    text-align: right;
}
.services-complex-projects__text {
    text-align: right;
}
.services-complex-projects__button {
    margin-left: auto;
}
.services-complex-projects__subtext {
    height: 45px;
    text-align: right;
}


.page__codex {
    width: 1440px;
    height: 727px;
    background-image: url("/images/background.svg");
    background-color: honeydew;
}
.codex__container {
    width: 1440px;
    height: 727px;
}
.codex__body {
    width: 1440px;
    height: 727px;
    display: flex;
    flex-direction: column;
}
.codex__title {
    height: 160px;
    padding: 80px 648px 30px 646px;
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 42px;
    line-height: 50px;
    background-color: darkkhaki;
}
.codex__slogan {
    height: 230px;
    padding: 30px 321px 85px 325px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;

    color: #000000;
    background-color: cadetblue;
}
.codex__points__body {
    width: 1440px;
    height: 337px;
    display: flex;
    align-items: flex-start;
    background-color: khaki;
}

.codex__previous__point {
    width: 585px;
    height: 200px;
    margin-top: 69px;
    margin-right: 54px;
    margin-left: -391px;
    padding: 44px 78px 76px 75px;
    background-color: rosybrown;
}
.codex__previous__text {
    width: 435px;
    height: 100px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 35px;
    text-align: center;

    background-color: yellow;
}
.codex__previous__paragraph {
    margin-top: 30px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;

    color: #6D6D6D;
}

.codex__left__keyboard {
    margin-top: 155px;
}

.codex__point {
    width: 800px;
    height: 250px;
    margin: 44px 54px 42px 54px;
    padding: 55px 79px 102px 76px;

    background-color: yellowgreen;
}
.codex__text {
    width: 645px;
    height: 90px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 300;
    font-size: 33px;
    line-height: 48px;
    text-align: center;
}
.codex__paragraph {
    width: 646px;
    height: 16px;
    margin-top: 44px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;

    color: #6D6D6D;
}

.codex__right__keyboard {
    margin-top: 155px;
}

.codex__next__point {
    width: 584px;
    height: 200px;
    margin-top: 69px;
    margin-left: 38px;
    padding: 44px 78px 76px 75px;
    background-color: rosybrown;
}
.codex__next__text {
    width: 435px;
    height: 100px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 35px;
    text-align: center;

    background-color: yellow;
}
.codex__next__paragraph {
    margin-top: 30px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;

    color: #6D6D6D;
}


.page__portfolio {
    width: 1440px;
    height: 1160px;
    background-color: green;
}
.portfolio__container {
    width: 1440px;
    height: 1160px;
}
.portfolio__body {
    width: 1440px;
    height: 1160px;
}
.portfolio__title {
    width: 1440px;
    height: 175px;
    padding: 96px 605px 26px 603px;

    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 42px;
    line-height: 50px;
}
.portfolio__slogan {
    width: 1440px;
    height: 120px;
    padding-left: 321px;
    padding-right: 321px;

    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    background-color: chartreuse;
}
.portfolio__case {
    width: 1440px;
    height: 289px;
    display: flex;

    padding-left: 183px;
    padding-right: 174px;
    background-color: blueviolet;
}
.portfolio__case__img {
    width: 384px;
    height: 289px;
}
.portfolio__case__img img {

}
.portfolio__case__text-content__xim4 {
    width: 580px;
    height: 289px;

    margin-left: 60px;

    background-color: darkgoldenrod;
}
.portfolio__case__text-content__level {
    width: 580px;
    height: 289px;
    margin-left: 60px;

    background-color: cornflowerblue;
}
.portfolio__case__title {
    width: 580px;
    height: 40px;

    margin-top: 56px;

    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 43px;
    background-color: darkslategray;
}
.portfolio__case__subtitle {
    width: 580px;
    height: 16px;

    margin-top: 7px;

    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    font-variant: small-caps;
    color: #FA5D7C;
    background-color: yellow;
}
.portfolio__case__subtitle::after {
    content: "";
    display: block;
    width: 120px;
    padding-top: 7px;
    border-bottom: 2px solid #FA5D7C;
}
.portfolio__case__text {
    width: 580px;
    height: 75px;

    margin-top: 21px;

    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 27px;

    background-color: burlywood;
}
.portfolio__case__watch__keys__button {
    width: 414px;
    height: 57px;

    margin-top: 45px;
    margin-left: 77px;
}
.portfolio__case__watch__keys__button button {
    width: 414px;
    height: 57px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    background-color: #FA5D7C;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
}
.portfolio__button {
    padding: 112px 597px 43px;
}
.portfolio__button button {
    width: 246px;
    height: 57px;

    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;

    text-align: center;

    color: #FA5D7C;

    background: #FFFFFF;
    border: 2px solid #FA5D7C;
}

.level__case {
    margin-top: 73px;
}
.level__img {
    order: 1;
}

.level__case {
    background-color: gold;
}
.xim4__case {
     background-color: bisque;
 }


.footer {
    width: 1440px;
    height: 216px;
    background-color: #000000;
}