*, *:after, *:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}


body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-size: 16px;
}


.wrapper {
    width: 1440px;
    height: 8272px;
    margin: 0 auto;
    background-color: #FFFFFF;
}


.header {
    position: relative;
    margin: 0 auto;
    padding: 105px 182px 182px;
    width: 1440px;
    height: 820px;
}


.header__title__container {
    width: 1076px;
    height: 155px;
}
.header__title {
     display: flex;
     width: 1076px;
     height: 155px;
     align-items: flex-start;
     justify-content: space-between;
 }
.header__main-block__container {
    margin-top: 80px;
    width: 990px;
    height: 310px;
}
.header__main-block {
    display: flex;
    width: 990px;
    height: 315px;
    align-items: flex-start;
}
.main__block__container {
    width: 675px;
    height: 310px;
}
.main-block__title {
    width: 665px;
    height: 70px;
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 60px;
}
.main-block__text {
    width: 670px;
    height: 100px;
    margin-top: 20px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 39px;
}
.main-block__button {
    width: 385px;
    height: 57px;
    margin-top: 65px;
}
.main-block__button button {
    width: 385px;
    height: 57px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    background-color: #FA5D7C;
}
.main-block__hero {
    width: 200px;
    height: 200px;
    margin-left: 110px;
}
.header__down {
    width: 25px;
    height: 20px;
    margin-left: 528px;
    margin-top: 80px;
    margin-right: 528px;
}


.page {
    position: relative;
    margin: 0 auto;
    width: 1440px;
}


.page__services {
    width: 1440px;
    height: 2660px;
}
.services__container {
    width: 1440px;
    height: 2660px;
}
.services__body {
    width: 1440px;
    height: 2660px;
}
.services__body__title {
    width: 1440px;
    height: 204px;
    padding: 76px 520px 77px 519px ;
}
.services__body__title h2 {
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 42px;
    line-height: 50px;
    text-align: center;
}

.services__item__container {
    display: flex;
    height: 616px;
    align-items: flex-start;
}
.services__item__body {
    width: 540px;
    height: 367px;
    margin-top: 151px;
    margin-bottom: 98px;
    z-index: 2;
}
.services__item__title {
    width: 216px;
    height: 44px;
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 43px;
}
.services__item__text {
    width: 535px;
    height: 93px;
    margin-top: 32px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 31px;
}
.services__item__button {
    width: 246px;
    height: 57px;
    margin-top: 33px;
}
.services__item__button button {
    width: 246px;
    height: 57px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    background-color: #FA5D7C;
}
.services__item__subtext {
    width: 530px;
    height: 98px;
    margin-top: 64px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 23px;
    color: #727272;
}
.services__item__image {
    width: 928px;
    height: 616px;
    z-index: 1;
}
.services__item__image img {
    width: 928px;
    height: 616px;
}

.what-we-do__title {
    margin-left: 182px;
}
.what-we-do__text {
    margin-left: 182px;
}
.what-we-do__button {
    margin-left: 182px;
}
.what-we-do__subtext {
    margin-left: 182px;
}

.corporate-websites__title {
    text-align: right;
}
.corporate-websites__text {
    text-align: right;
}
.corporate-websites__button {
    margin-left: auto;
}
.corporate-websites__subtext {
    text-align: right;
}

.social-media-promotion__title {
    width: 550px;
    margin-left: 182px;
}
.social-media-promotion__text {
    margin-left: 182px;
}
.social-media-promotion__button {
    margin-left: 182px;
}
.social-media-promotion__subtext {
    margin-left: 182px;
}

.services-complex-projects__title {
    width: 475px;
    text-align: right;
}
.services-complex-projects__text {
    text-align: right;
}
.services-complex-projects__button {
    margin-left: auto;
}
.services-complex-projects__subtext {
    text-align: right;
}


.footer {
    width: 1440px;
    height: 216px;
    background-color: #000000;
}